<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1 class="app-title" id="app-title">クラス分類アプリケーション</h1>
    <div class="main-container">
        <div class="video-container">
            <video id="video" width="480" height="360" autoplay></video>
        </div>
        <div class="buttons">
            <div class="class-container">
                <p id="count1" class="count">学習枚数: 0</p>
                <button id="class1" class="class-btn">Class 1</button>
            </div>
            <div class="class-container">
                <p id="count2" class="count">学習枚数: 0</p>
                <button id="class2" class="class-btn">Class 2</button>
            </div>
            <div class="class-container">
                <p id="count3" class="count">学習枚数: 0</p>
                <button id="class3" class="class-btn">Class 3</button>
            </div>
            <div class="class-container">
                <p id="count4" class="count">学習枚数: 0</p>
                <button id="class4" class="class-btn">Class 4</button>
            </div>
            <div class="class-container">
                <p id="count5" class="count">学習枚数: 0</p>
                <button id="class5" class="class-btn">Class 5</button>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js" defer></script>
</body>
</html>
